# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
devnode
__pycache__
*.pyc

build
ui/build/*
logs
# Test binary, built with `go test -c`
*.test
!ui/*.test
internal/app/identity/apitest/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.log
*.db
*.zip
*.tar.gz

# Dependency directories (remove the comment below to include it)
vendor/
.DS_Store
.vscode
.idea/
*.swp
config.toml
agent.toml
local.conf
